body{
    font-family: 'Montserrat',
    sans-serif;
    background-color: #F5F7FA;
    width: 100%;
}
/* Main styles  */
.main{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    width: 100%;
  

}
.main-content{
    background-color:#FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
    width: 1300px;
}
/* about styles */
.about{    
    margin-bottom: 40px;
}
.head_name{
padding: 20px;
 
}
.about-possition{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 17px;
color: #111;
margin-bottom: 20px;

}
.about-name{
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #111;
margin-bottom: 25px;
}
.about-description {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

}

/* project styles */
.projects{
    margin-bottom: 50px;
}
.title{
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 27px;
margin-bottom: 10px;
   color: #000000; 
}
.project-list{
    padding: 0;
    margin-left: 15px;
}
.project-item{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.project{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #111;
}
.project-link{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #111;
margin-left: 15px;
    }
    .project-link1{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #111;

    }
.project-bracked{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;

}


/* work styles  */
.work{
}
.work-possition{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #111;
}
.period{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #111;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color:black
}
.work-list{
    padding: 0;
    margin-left: 15px;
}
.work-list-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color:black
}
.text{
    display: block;
    margin-left: 15px;
}
/* education styles  */
.education{
   margin-top: 45px;
}
.education-possition{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.university{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
margin-bottom: 10px;
color: #111;
}
.profession{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 17px;
margin-bottom: 10px;
color: #000000;
}
/* sidebar styles  */
.sidebar{
  background-color:  #1E2939;
  padding-top: 40px;
  width: 480px;
}
.photo{
    width: 480px;
    margin-bottom: 50px;
}
.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    margin-bottom: 10px;
}
.contacts,
.tech-skills 
 {
    margin-left: 40px;
}
.contacts{
    margin-bottom: 50px;
}
.contact-type{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
       color: #FFFFFF;
       margin-right: 5px;
}
.contact-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.tech-skills-list{
    color: white;
    padding: 0%;
    margin-left: 17px;
}
.tech-skills-item{
   color: #fff;
}
.tech-skills-text{
 font-style: 18px;
  line-height: 24px;
  
    color: white;
}
.soft-skills-list{
    color: white;
    padding: 0%;
    margin-left: 17px;
}
.soft-skills{
    margin-left: 40px;
    font-family: Montserrat Font; 
    font-weight: bold;
     font-size: 26px;
      line-height: 27px;
       line-height: 100%;
        Align: Left Vertical;
         align: Top;
         color: white;
}
.soft-skills-item{
   color: #fff;
}
.soft-skills-text{
    font-size: 18px;
    Line height: 24px;
    Line height: 141%;
    Align: Left Vertical;
    align: Top;
    color: white;
}
